In [ ]:
Analysis of

In [1]:
import re
import sys
import math
import pandas as pd
from collections import Counter

sys.path.append("../")

from utils.helpers import extract_values
from utils.evaluation_data import process_dataset, sample_texts

In [2]:
df = pd.read_json("../dataset/blip_laion_cc_sbu_558k.json")

In [3]:
df.head()

,id,image,conversations
0,4539375,00453/004539375.jpg,"[{'from': 'human', 'value': 'Render a clear an..."
1,2239345,00223/002239345.jpg,"[{'from': 'human', 'value': 'Write a terse but..."
2,5947502,00594/005947502.jpg,"[{'from': 'human', 'value': '<image> What is t..."
3,5116462,00511/005116462.jpg,"[{'from': 'human', 'value': '<image> Render a ..."
4,2017886,00201/002017886.jpg,"[{'from': 'human', 'value': 'What is in the ph..."

In [4]:
df[['human_value', 'gpt_value']] = df['conversations'].apply(extract_values)

In [5]:
df.head()

,id,image,conversations,human_value,gpt_value
0,4539375,00453/004539375.jpg,"[{'from': 'human', 'value': 'Render a clear an...",Render a clear and concise summary of the phot...,select luxury furniture 3 - inch gel memory fo...
1,2239345,00223/002239345.jpg,"[{'from': 'human', 'value': 'Write a terse but...",Write a terse but informative summary of the p...,a grey watch with an army style strap
2,5947502,00594/005947502.jpg,"[{'from': 'human', 'value': '<image> What is t...",<image>\nWhat is this?,a dragon kite flying in the blue sky stock images
3,5116462,00511/005116462.jpg,"[{'from': 'human', 'value': '<image> Render a ...",<image>\nRender a clear and concise summary of...,$ 10 - cute cheap printed mini dress - khaki m...
4,2017886,00201/002017886.jpg,"[{'from': 'human', 'value': 'What is in the ph...",What is in the photo?\n<image>,augmented reality using aruco markers in opencv

In [6]:
# Process the dataset
processed_df = process_dataset(df, 'gpt_value')

In [7]:
def calculate_adaptive_threshold(word_count):
    min_threshold = 0.3
    max_threshold = 0.8
    decay_factor = 0.05
    
    threshold = max_threshold * math.exp(-decay_factor * word_count) + min_threshold
    return min(max(threshold, min_threshold), max_threshold)

def filter_repeated_words(text):
    # Split the text into words
    words = re.findall(r'\w+', str(text).lower())
    
    if not words:
        return False  # Empty text
    
    # Special case for two-word sentences
    if len(words) == 2:
        return words[0] == words[1]
    
    # Count the occurrences of each word
    word_counts = Counter(words)
    
    # Calculate the adaptive threshold
    threshold = calculate_adaptive_threshold(len(words))
    
    # Calculate the proportion of the most common word
    most_common_word_count = word_counts.most_common(1)[0][1]
    proportion = most_common_word_count / len(words)
    
    # Return True if the proportion is above the threshold
    return proportion > threshold

def check_repeated_words(df, text_column, new_column_name='has_repeated_words'):
    # Apply the filter_repeated_words function to the text column
    df[new_column_name] = df[text_column].apply(filter_repeated_words)
    return df

In [8]:
# 191 Repeated Words
repeated_words_df = check_repeated_words(df, 'gpt_value')

In [9]:
filtered_df = repeated_words_df[~repeated_words_df['has_repeated_words']]

In [14]:
# Sample texts
sampled_texts = sample_texts(filtered_df, 'gpt_value', n_samples=30, n_bins=5)

# Display the results
pd.set_option('display.max_colwidth', None)  # To show full text content

D:\Github\maya-dataset-creation\notebooks\..\utils\evaluation_data.py:35: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['complexity_bin'] = create_bins(df, 'complexity', n_bins, use_qcut)
D:\Github\maya-dataset-creation\notebooks\..\utils\evaluation_data.py:36: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['length_bin'] = create_bins(df, 'length', n_bins, use_qcut)
D:\Github\maya-dataset-creation\notebooks\..\utils\evaluation_data.py:39: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['strata'] = df['complexity_bin'].astype(str) + '_' + df['length_bin'].astype(str)

                                                                                                gpt_value  \
233410                                                              large stone birdbath with birds on it
8687                                                                       an old brass kettle on a stove
322946                                                          led switch light with touch button on off
413038                                                                     the giants team on fire trucks
479777                                             lawn lawn die set and die set hedgehogs from lawn fawn
170303                                                                         logitech usb gamepad, blue
173767                                                                  the pink flaming party bar set up
111005                                                       we r onyx heavyweight hoodie navy size large
352961                                                     the movie rogue one, with star wars characters
449914                                          a girl and her cat are looking at a clear air shelters ad
92633                                                     a silver elephant on a shelf and a brown bucket
487907                                                     magnificent land for sale in ubud bali tjub036
37126            the cover of the book peace is with you, depicting a city that looks like a bombed world
482092                                             a set of 5 printable curriculum map templates for kids
212678                                                                 the marseille caper by peter mayle
105421                               uncle lincoln wants you to join the army basic round button keychain
525272                                a poster for the film the interview, starring actors jay and patton
419717                yoga a way of life a begin's guide to yoga so much more than just a fitness routine
314926                                                             theia sleeveless sequind dress, silver
238443                              chandelier ceiling light with crystal droplets and chrome metal frame
38990                                                being a music manager is easy its like riding a bike
468716                                                                                2013 subarund wagon
15873                         anubone's character likeness is depicted in a pin up version of the vampire
350719                                   a collection of concept artwork for transformers the last knight
144162             some of the different treatments of the antigen system, including glycole, and c cells
528080                                                       biochemists lecture 3 carbon dioxide glucose
487603                                                                                  business postcard
191303                                                    the multi - channel marketing im buchhandel als
340834                              300w pure power invertor, modified battery charger, dcs / ac invertor
153850  a woman is suffering and having depression and suicide, infographic style illustration eps eps108

        complexity  length  fk_grade  f_ease
233410    0.052203      37       0.1  106.67
8687      0.052203      30       0.1  106.67
322946    0.057723      41       0.5  105.66
413038    0.071227      30       0.9   99.23
479777    0.074313      54       1.7  102.61
170303    0.084731      26       1.3   92.80
173767    0.101321      33       2.5   89.75
111005    0.106841      44       2.9   88.74
352961    0.106841      46       2.9   88.74
449914    0.108919      57       3.6   92.12
92633     0.117896      47       3.7   86.71
487907    0.131400      46       4.1   80.28
37126     0.136548      88       5.6   87.05
482092    0.141447      54       4.8   78.25
212678    0.144904      34       4.5   73.85
105421    0.152501      68       5.6   76.22
525272    0.152501      67       5.6   76.22
419717    0.161107      83       6.8   78.59
314926    0.162935      38       5.2   66.40
238443    0.166005      69       6.0   69.79
38990     0.171540      52       6.4   68.77
468716    0.176439      19       5.6   59.97
15873     0.182595      75       7.2   66.74
350719    0.190564      64       7.2   61.33
144162    0.212674      86       8.8   57.27
528080    0.217572      44       8.0   48.47
487603    0.244580      17       8.8   35.61
191303    0.247666      47       9.6   38.99
340834    0.263233      69      10.7   35.95
153850    0.309901      97      13.5   23.43

In [19]:
sampled_texts[['gpt_value']].to_csv('../dataset/prompt_engineering.csv', index=False)